.everine-select {
  font-size: 16px;
  background-color: white;
  height: 2em;
  width: 300px;
  border: 1px solid rgba(0,0,0,.12);
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item__text {
  font-size: 150%;
  cursor: pointer;
}

.todo-item__text--done {
  text-decoration: line-through;
}

.todo-item__delete {
  cursor: pointer;
  color: red;
  margin-right: 5px;
}
